 *{
   margin:0;
   padding:0;
   box-sizing: border-box;
 }

.general-container{
  width:100%;
  height:100vh;
  display:flex;
}
 .main-nav{
   width:16vw;
   height:100vh;
   position:fixed;
   z-index: 1;
   background-color: slateblue;
 }

 .main-content{
   width:calc(100% - 16vw);
   height:100vh;
   background-color: yellow;
 }

 .banner-upgrade{
   width: 100%;
   height:15vh;
   position:fixed;
   background-color: lightgreen;
 }

 footer{
   width:100%;
   height:15vh;
   position:fixed;
   bottom:0;
   z-index: 2;
   background-color: grey;
 }
