 /* debuggs */

.h200{
  height:40px;
  width:100%;
}

.h400{
  height:80px;
}
 .blue{
   background-color: blue
 }
.yellow{
  background-color: yellow
}
.aliceblue{
  background-color: aliceblue
}
.AntiqueWhite{
  background-color: AntiqueWhite
}
.Aquamarine{
  background-color: Aquamarine
}
.BlueViolet{
  background-color: BlueViolet
}
.Chocolate{
  background-color: Chocolate
}
.CadetBlue{
  background-color: CadetBlue
}
.Coral{
  background-color: Coral
}
.CornflowerBlue{
  background-color: CornflowerBlue
}
.DarkOrange{
  background-color: DarkOrange
}


/* general */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  background-color: #141922;

}

/* commons */
 .flex{
   display:flex;
 }

.uppercase{
  text-transform:uppercase;
  font-size:13px;
}

.scroll{
  overflow-y: scroll;
}

.pad-10{
  padding-left:10px;

}




/* main-nav */

#main-nav{
  width:16%;
  height:100vh;
  height:calc(100vh - 80px);
  position:fixed;
  color:white;
  font-size: 13px;
}

/* chiedere */
#main-nav-container :not(.library):not(.header-nav-footer .lowercase){
 text-transform:capitalize;
}

#main-nav .main-nav-container{
  flex-direction:column;
}

.logo{
  height:80px;
  width:100%;
  position:relative;
}

.logo img{
  height:45%;
  position:absolute;
  margin-left:15px;
  top:50%;
  transform:translateY(-50%);
}

#main-nav .main-nav-header{
  margin-bottom:10px;
  font-size:12px;
}

#main-nav .main-nav-header img{
  height:3.5vh;
  vertical-align: middle;
  margin:3px 0;
}


.crea i{
  font-size: 30px;
  color:#a3a3a3;
  margin-top:10px;
  margin-bottom:20px;
  vertical-align: middle;
}

.crea span{
  font-size:15px;
}

#made-playlist{
  height:20.5vh;
}

#made-playlist li{
  list-style: none;
  margin:5px 0;
}

#made-playlist a{
  text-decoration: none;
  color:#6e6e6e;
}

.header-nav-footer{
  position:absolute;
  bottom:0;
}

.footer-line:first-child img{
  height:20px;
  vertical-align: middle;
}

.footer-line:last-child img{
  height:30px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #808080;
}



/* banner upgrade */

#banner-upgrade{
  width:calc(100% - 16%);
  height:80px;
  position:fixed;
  background-color: #666666;
  z-index:2;
  top:0;
  right:0;
}

.btn-upgrade{
  position: fixed;
  right:0;
  top:15px;
  padding: 10px 40px;
  border:1px solid white;
  border-radius: 20px;
  font-weight:500;
  color:white;
}


/* main-content */

.nav-content{
  width:60%;
  margin:0 auto;
}

.nav-content ul{
  height:40px;
  margin-bottom:20px;
  justify-content: space-around;
  align-items:flex-end;
}

.nav-content ul li{
  list-style-type: none;
}

.nav-content ul a{
  text-decoration: none;
  color:#6e6e6e;
}

.main-content{
  width:calc(100% - 16%);
  height:calc(100vh - 80px);
  margin:80px 5px;
  margin-left:16.5%;
  color:white;
}

.main-content section{
  margin:30px 0;
}
.main-content small{
  color:#6c6e73;
}

section h2{
  font-size:24px;
  font-weight:600;
  margin-bottom:5px;
}

.main-content section .row{
  margin:20px 0;
}

.box-cover{
  width:calc(100% / 6 );
  margin-right:5px;
}

.box-cover img{
 width:100%;
}

.box-cover .cover-text{
  width:100%;
  text-align:center;
}

#popular{
  margin-bottom:100px;
}

#popular img{
  border-radius: 50%;
}






/* footer */

footer{
  width:100%;
  height:80px;
  background-color: grey;
  position:fixed;
  bottom:50%;
  right:0;
  z-index:1;
  align-items: center;
  justify-content: space-between;
}

.footer-left{
  width:13%;
  justify-content: space-between;
  align-items: center;

}

.cover-name{
  align-items: center;

}
.cover-name img{
  height:7vh;
}

.cover-name .name{
  padding:5px;
  font-size:10px;
}

.cover-name .name h6{
  font-size: 12px;
}

.like-option i{
  padding-left:10px;
}

/* center */

.footer-center{
  width:70%;
  flex-direction: column;
  align-items: center;
}

.row-above{
  width:40%;
  height:50%;

}
.row-below{
  width:60%;
  height:50%;

}


/* footer-right */

.footer-right{
  width:15%;
}

.i-wrapper{
  width:35%;
  justify-content: flex-start;
    justify-content: space-around;
}
.footer-right i{
  font-size: 2vh;
}
.vol-bar{
  width:60%;
  height:4px;
  background-color: white;
}

















































































/* d */
