 /* debuggs */

.h200{
  height:40px;
  width:100%;
}

.h400{
  height:80px;
}


/* general */
html{
  box-sizing: border-box;
}

*, *::after, *::before{
  box-sizing:inherit;
  margin:0;
  padding:0;
}

body{
  font-family: 'Montserrat', sans-serif;
  background-color: #141922;

}

/* commons */
 .flex{
   display:flex;
 }

.uppercase{
  text-transform:uppercase;
  font-size:13px;
}

.scroll{
  overflow-y: scroll;
}

.pad-10{
  padding-left:10px;
}


/* main-nav */

#main-nav{
  width:200px;
  height:100vh;
  height:calc(100vh - 80px);
  position:fixed;
  color:white;
  font-size: 13px;
  background-color: black;
}

/* chiedere PERCHE NON FUNZIONA */
.main-nav-container :not(.library),
.main-nav-container :not(.lowercase){
 text-transform:capitalize;
}

#main-nav .main-nav-container{
  flex-direction:column;
}

.logo{
  width:16%;
  height:80px;
  position:relative;
}

.logo img{
  width:150px;
  height:80px;
  position:absolute;
  margin-left:15px;
  top:50%;
  transform:translateY(-50%);
}

#main-nav .main-nav-header{
  margin-bottom:10px;
  font-size:12px;
}

#main-nav .main-nav-header img{
  height:30px;
  vertical-align: middle;
  margin:3px 0;
}


.crea i{
  font-size: 30px;
  color:#a3a3a3;
  margin-top:10px;
  margin-bottom:20px;
  vertical-align: middle;
}

.crea span{
  font-size:15px;
}

#made-playlist{
  height:20.5vh;
}

#made-playlist li{
  list-style: none;
  margin:5px 0;
}

#made-playlist a{
  text-decoration: none;
  color:#6e6e6e;
}

.main-nav-footer{
  width:100%;
  background-color: black;
  position:absolute;
  bottom:0;
  z-index:1;
}

.footer-line:first-child img{
  height:20px;
  vertical-align: middle;
}

.footer-line:last-child img{
  height:30px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #808080;
}



/* banner upgrade */

#banner-upgrade{
  width:calc(100% - 200px);
  height:80px;
  position:fixed;
  background-color:#666666;
  z-index:4;
  top:0;
  right:0;
  opacity: 0.5;

}

.btn-upgrade{
  position: fixed;
  right:0;
  top:15px;
  padding: 10px 40px;
  border:1px solid white;
  border-radius: 20px;
  font-weight:500;
  color:white;
  opacity:1;
}


/* main-content */

.main-content{
  width:calc(100vw - 200px);
  height:calc(100vh - 80px);
  margin:80px 10px;
  margin-left:200px;
  padding-left:1%;
  color:white;
}

.nav-content{
  height:40px;
  line-height:40px;
  margin:0 auto;
  justify-content:center;

}

.nav-content ul{
  flex-wrap: wrap;
  justify-content:center;
}

.nav-content ul li{
  list-style-type: none;
  margin:0 10px;
}

.nav-content ul a{
  text-decoration: none;
  color:#6e6e6e;
}


.main-content section{
  margin:30px 0;
}
.main-content small{
  color:#6c6e73;
}

section h2{
  font-size:24px;
  font-weight:600;
  margin-bottom:5px;
}

.main-content section .row{
  margin:20px 0;
}

.box-cover{
  width:calc(100% / 6 );
  margin-right:5px;
}

.box-cover img{
 width:100%;
}

.box-cover .cover-text{
  width:100%;
  text-align:center;
}

#popular{
  margin-bottom:100px;
}

#popular img{
  border-radius: 50%;
}

/* footer */

footer{
  width:100%;
  height:80px;
  background-color: grey;
  position:fixed;
  bottom:0%;
  right:0;
  z-index:3;
  align-items: center;
  color:white;
  background-color: #282828;
}

.footer-left{
  width:200px;
  justify-content: space-between;
  align-items: center;
}


.cover-name{
  align-items: center;

}
.cover-name img{
  height:40px;
}

.cover-name .name{
  padding:5px;
  font-size:10px;
}

.cover-name .name h6{
  font-size: 12px;
}

.i-wrapper{
  justify-content: space-around;
}

.like-option i{
  padding-left:10px;
}

/* center */

.footer-center{
  width: calc(100% - 400px);
  flex-direction: column;
  align-items: center;
}

.row-above{
  width:100%;
  height:50%;
  align-items: center;
  justify-content: center;
}

.row-above *{
  font-size:20px;
  padding:10px;
}

.row-above i#play{
  font-size:30px;
}


.row-below{
  width:100%;
  height:50%;
  justify-content: center;

}

.row-below .time{
  margin:0 20px;
}

.row-below .vol-bar{
  width:60%;
  height:4px;
  background-color: lightgrey;
}


/* commons row-below/footer-right */

.row-below .vol-bar .vol-bar-lightgrey,
.footer-right .vol-bar .vol-bar-lightgrey{
  width:30%;
  height:100%;
  background-color: lightgrey;
}

.footer-right .vol-bar .vol-bar-grey,
.row-below .vol-bar .vol-bar-grey{
  width:70%;
  height:100%;
  background-color: grey;
}


/* footer-right */

.footer-right{
  width:200px;
  justify-content: flex-end;
}

.i-wrapper{
  width:35%;
  justify-content: flex-start;
  justify-content: space-around;
}
.footer-right i{
  font-size: 15px;
}

.b-rad{
  border-radius: 10px;
}

.footer-right .vol-bar{
  width:50%;
  height:4px;
  align-self: center;
  background-color: lightgrey;
}

.lg-hidden{
  display:none;
}

@media screen and (max-height:450px){
  main #main-nav .main-nav-footer{
    display:none;
  }
}

@media screen and (max-width:992px){

 .md-hidden{
   display:none;
 }


  .nav-content{
    margin-bottom:50px;
  }

  #recent .row {
    flex-wrap: wrap;
  }
  .box-cover{
    width:calc(100% / 5 );
    margin:0 2%;

  }
}

@media screen and (max-width:788px){
  .s-hidden{
    display:none;
  }

  .box-cover{
    width:calc(100% / 2.2 );
    margin:0 2%;
  }

  .box-cover .cover-text{
    margin-bottom:40px;
  }

  /* footer */

  .footer-left {
    width:calc(100% / 5);
    justify-content: flex-start;
  }

  .footer-left .like-option .i-wrapper{
    flex-direction: column;

  }

 .footer-center{
   width:calc(100% / 5 * 3);
 }

.footer-center .row-abo
 .footer-center .row-below .vol-bar{
   width:100%
 }

 .footer-right{
   width:calc(100% / 5);
 }

 .footer-right i{
   padding:5px;
 }

 .footer-right .vol-bar{
   margin-right:5px;
 }
}

@media screen and (max-width:568px){

  .xs-hidden{
    display:none;
  }

  .xs-visible{
    display:block;
  }
  #main-nav{
    width:50px;
  }

  #main-nav .main-nav-header img{
    margin-bottom:10px;
  }

  .logo.xs-visible{
    width:50px;
    height:30px;
    margin:10px auto;
  }

  .logo.xs-visible img{
  width:35px;
  margin:0 8px;
}

.main-nav-footer .xs-visible{
  margin:10px 0;
}

  .main-content{
  width:calc(100vw - 50px);
  margin-left:50px;
  }

  #banner-upgrade{
    width:calc(100% - 50px);
}

/* footer */

footer .row-above *{
  font-size:15px;
  padding:5px;
}

.row-above i#play{
  font-size:25px;
}

.row-below .time{
  font-size:10px;
}

.footer-right i{
  font-size:10px;
}
}













































































/* d */
